<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav level-1">
                    <li class="sidenav-heading"></li>
                    <li class="sidenav-item">
                        <a href="/backOffice/v1/home">
                            <span class="sidenav-icon icon icon-home"></span>
                            <span class="sidenav-label">home</span>
                        </a>
                    </li>

                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true" aria-expanded="false">
                            <span class="sidenav-icon icon icon-map"></span>
                            <span class="sidenav-label">zone</span>
                        </a>
                        <ul class="sidenav level-2 collapse" aria-expanded="false">
                            <li class="sidenav-heading">zone</li>
                            <li>
                                <a href="/backOffice/v1/zone/create">
                                    <span class="icon icon-plus"></span>
                                    create zone
                                </a>
                            </li>
                            <li>
                                <a href="/backOffice/v1/zone/list">
                                    <span class="icon icon-plus"></span>
                                    zones list
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="sidenav-item has-subnav">
                        <a href="#" aria-haspopup="true" aria-expanded="false">
                            <span class="sidenav-icon icon icon-map"></span>
                            <span class="sidenav-label">pin</span>
                        </a>
                        <ul class="sidenav level-2 collapse" aria-expanded="false">
                            <li class="sidenav-heading">pin</li>
                            <li>
                                <a href="/backOffice/v1/point/create">
                                    <span class="icon icon-plus"></span>
                                    add pin
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
